[Desktop Entry]
Name=Porcupette
Exec=COMMAND_HERE
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
NoDisplay=true
Type=Application
Terminal=false
